extends ../layouts/page.pug

block content
  div
    a(href=routes.newCoursePath()) New Course
  div
    form(action='/courses', method='get')
      input(type='search', name='term', value = term)
      input(type='submit', value='search')

  each course in courses
    div
      a(href=routes.coursePath(course.id))= course.title