extends ../layouts/page.pug

block content
  div
    a(href='/courses/new') New Course
  div
    form(action='/courses', method='get')
      input(type='search', name='term', value = term)
      input(type='submit', value='search')

  each course in courses
    div
      a(href='/courses/'+ course.id)= course.title