html
  body
    form(action = '/courses', method = 'post')
      div
        label Название:
          input(type = 'text', name = 'title')
      div
        label Описание:
          textarea(name='description', required = true)
      input(type = 'submit', value = 'Создать')