html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body
    div
      a(href='/courses') Courses
    div
      a(href='/users') Users
    block content
        
    block footer
      #footer
        a(href='https://github.com/Artkiller971') Github