extends ../layouts/page.pug

block content
  div
    a(href='/users/new') New User
  div
    form(action='/users', method='get')
      input(type='search', name='term', value = term)
      input(type='submit', value='search')

  each user in users
    div
      a(href='/users/'+ user.name)= user.name