extends ../layouts/page.pug

block content
  for messages in flash
    each message in messages
      .alert(class=`alert-${message.type}`)
        = message.message
  div
    a(href=routes.newUserPath()) New User
  div
    form(action='/users', method='get')
      input(type='search', name='term', value = term)
      input(type='submit', value='search')

  each user in users
    div
      a(href='/users/'+ user.name)= user.name