html
  body
    if error
      p= error.message


    form(action = '/users', method = 'post')
      div
        label Имя:
          input(type = 'text', name = 'name', value = name)
      div
        label Email:
          input(type = 'email', name = 'email', required = true, value = email)
      div
        label Пароль:
          input(type = 'password', name = 'password', required = true, value = password)
      div
        label Подтверждение пароля:
          input(type = 'password', name = 'passwordConfirmation', required = true, value = passwordConfirmation)
      input(type = 'submit', value = 'Зарегистрировать')